@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  font-family: 'Nunito', 'Courier New', Courier, monospace;
}
.App {
  background-color: #000;
  color: #fff;

#layout{
  display: flex;
  justify-content: center;
}
}